<!DOCTYPE html>
<html>
<head>
  <title>EventApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>


<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- HEADER -->
  <header>
    <div class="container">
        <!-- LOGO -->
        <%= link_to "#{image_tag("calendar.svg", size: "32x32")}EventApp".html_safe, root_path, class: "logo"%>
        <!-- MENU -->
        <nav>
          <% if user_signed_in? %>
            <ul class="nav-left">
              <li><%= link_to "Create Event", new_event_path %></li>
              <li><%= link_to "All Events", events_path %></li>
              <li><%= link_to "Going", controller: 'events', action: 'index', going: :going %></li>
              <li><%= link_to "My events", controller: 'events', action: 'index', events: :myevents %></li>
            </ul>
            <ul class="nav-right">
              <li><%= link_to "Account", edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          <% else %>
            <ul class="nav-right">
              <li><%= link_to "Register", new_user_registration_path, class: "btn register" %></li>
              <li></i> <%= link_to "Login", new_user_session_path, class: "btn login" %></li>
            </ul>
          <% end %>
        </nav>
    </div>
  </header>

    <% if flash[:notice] %>
      <div class="flash">
        <p><%= fa_icon "check" %> <%= flash[:notice] %></p>
      </div>
    <% end %>

      <%= yield %>

  </div>
  <footer>
    <div class="container">
      <ul>
        <li>
          <%= link_to "https://twitter.com/arashnaveed" do %>
            <%= fa_icon "twitter 2x" %>
          <% end %>
        </li>
        <li>
          <%= link_to "https://github.com/arsh-nvd" do %>
            <%= fa_icon "github 2x" %>
          <% end %>
        </li>
      </ul>
      <div class="icons">

      </div>
    </div>
  </footer>
</body>
</html>
