<!DOCTYPE html>
<html>
<head>
  <title>EventApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- HEADER -->
  <header>
    <div class="container">
      <div class="top-container">
        <!-- LOGO -->
        <%= link_to image_tag("logo.png", alt: "EventApp"), root_path %>
        <!-- MENU -->
        <nav>
          <ul>
            <% if user_signed_in? %>
              <li><%= link_to "All Events", events_path %></li>
              <li><a href="#">Going</a></li>
              <li><a href="#">My Events</a></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Register", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>
<%= yield %>

</body>
</html>
