<!DOCTYPE html>
<html>
<head>
  <title>EventApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- HEADER -->
  <header>
    <div class="container">
      <div class="top-container">
        <!-- LOGO -->
        <%= link_to image_tag("logo.png", alt: "EventApp"), root_path %>

      </div>
    </div>
  </header>

  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>
<%= yield %>

</body>
</html>
